<!DOCTYPE html>
<html>
<head>
	<title>Add Feature Request</title>
</head>
<body>
<h1> Add a new feature</h1>
<div>
	<form action="" method="post">
		<div>
			<label for="title">Title:</label>
			<input type="text" name="title" id="title">
		</div>
		<div>
			<label for="desc">Description:</label>
			<input type="text" name="desc" id="desc">
		</div>
		<div>
			<label for="client">Client:</label>
			<select name="client" id="client">
				<option name="a" id="a">Client A</option>
				<option name="b" id="b">Client B</option>
				<option name="c" id="c">Client C</option>
			</select>
		</div>
		<div>
			<label for="priority">Client Priority:</label>
			<input type="text" id="priority" name="priority">
		</div>
		<div>
			<label for="target_date">Target Date:</label>
			<input type="text" id="target_date" name="target_date">
		</div>
		<div>
			<label for="area">Product Area:</label>
			<select name="area" id="area">
				<option name="p" id="p">Policies</option>
				<option name="b" id="b">Billings</option>
				<option name="c" id="c">Claims</option>
				<option name="r" id="r">Reports</option>
			</select>
		</div>		
	</form>
</div>
</body>
</html>